# Aplaca test notebook

***

## Setup

Always run these blocks first.

In [11]:
from alpaca_trade_api.rest import REST, TimeFrame
from alpaca_trade_api.common import URL
from alpaca_trade_api.stream import Stream
import pandas as pd
import json
import logging
logging.basicConfig(format='%(asctime)s %(message)s', level=logging.INFO)

In [12]:
with open("../config.json","rb") as file:
    config = json.load(file)

In [13]:
api = REST(key_id=config['alpaca_key_id'],
           secret_key=config['alpaca_secret_key'],
           base_url=URL(config['alpaca_base_url'])
           )

In [14]:
account = api.get_account()

/usr/local/lib/python3.8/abc.py:102: RuntimeWarning: coroutine 'Stream._run_forever' was never awaited
  return _abc_subclasscheck(cls, subclass)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

In [15]:
account.status

'ACTIVE'

***

## Exploration

### Get Data

**get_bars**

In [ ]:
result = api.get_bars("AAPL", TimeFrame.Hour, "2021-02-08", "2021-02-08", limit=100, adjustment='raw').df

In [16]:
result = api.get_bars("AAPL", TimeFrame.Minute, "2021-02-08", "2021-02-08", limit=1000, adjustment='raw').df

In [18]:
result.head(n=20)

                             open    high     low   close  volume
timestamp
2021-02-08 09:00:00+00:00  136.68  136.80  136.65  136.80   34441
2021-02-08 09:01:00+00:00  136.72  136.72  136.66  136.70    2083
2021-02-08 09:02:00+00:00  136.63  136.80  136.50  136.80    4741
2021-02-08 09:03:00+00:00  136.69  136.79  136.69  136.79    2570
2021-02-08 09:04:00+00:00  136.53  136.62  136.53  136.62    1533
2021-02-08 09:05:00+00:00  136.62  136.72  136.62  136.72    1853
2021-02-08 09:06:00+00:00  136.74  136.88  136.74  136.88     890
2021-02-08 09:07:00+00:00  136.76  136.76  136.76  136.76    1327
2021-02-08 09:08:00+00:00  136.89  136.89  136.81  136.83    2265
2021-02-08 09:09:00+00:00  136.88  136.91  136.88  136.91     896
2021-02-08 09:10:00+00:00  136.95  136.99  136.95  136.96    1784
2021-02-08 09:11:00+00:00  136.99  137.08  136.99  137.03    5197
2021-02-08 09:12:00+00:00  137.10  137.10  137.10  137.10     878
2021-02-08 09:13:00+00:00  137.10  137.10  137.10  137.10     650
2021-02-08 09:14:00+00:00  137.10  137.10  137.05  137.05    1226
2021-02-08 09:15:00+00:00  137.03  137.03  137.03  137.03     444
2021-02-08 09:16:00+00:00  137.00  137.00  137.00  137.00     878
2021-02-08 09:17:00+00:00  136.90  136.90  136.86  136.86     641
2021-02-08 09:18:00+00:00  136.90  136.90  136.87  136.89    1004
2021-02-08 09:19:00+00:00  136.90  136.90  136.90  136.90    1675

In [19]:
result.shape

(862, 5)

In [21]:
result.head(n=10)

                             open    high     low   close  volume
timestamp
2021-02-08 09:00:00+00:00  136.68  136.80  136.65  136.80   34441
2021-02-08 09:01:00+00:00  136.72  136.72  136.66  136.70    2083
2021-02-08 09:02:00+00:00  136.63  136.80  136.50  136.80    4741
2021-02-08 09:03:00+00:00  136.69  136.79  136.69  136.79    2570
2021-02-08 09:04:00+00:00  136.53  136.62  136.53  136.62    1533
2021-02-08 09:05:00+00:00  136.62  136.72  136.62  136.72    1853
2021-02-08 09:06:00+00:00  136.74  136.88  136.74  136.88     890
2021-02-08 09:07:00+00:00  136.76  136.76  136.76  136.76    1327
2021-02-08 09:08:00+00:00  136.89  136.89  136.81  136.83    2265
2021-02-08 09:09:00+00:00  136.88  136.91  136.88  136.91     896

In [20]:
result.tail(n=20)

                               open     high       low   close  volume
timestamp
2021-02-09 00:40:00+00:00  136.6500  136.650  136.6200  136.64     525
2021-02-09 00:41:00+00:00  136.6300  136.630  136.6300  136.63     358
2021-02-09 00:42:00+00:00  136.6100  136.620  136.6000  136.62     907
2021-02-09 00:43:00+00:00  136.6000  136.600  136.6000  136.60     930
2021-02-09 00:44:00+00:00  136.6000  136.600  136.6000  136.60    1607
2021-02-09 00:45:00+00:00  136.6000  136.600  136.6000  136.60    1372
2021-02-09 00:46:00+00:00  136.5800  136.580  136.5600  136.56    1182
2021-02-09 00:47:00+00:00  136.5900  136.590  136.5900  136.59     695
2021-02-09 00:48:00+00:00  136.5500  136.550  136.5100  136.51    5023
2021-02-09 00:49:00+00:00  136.5100  136.550  136.5100  136.55    4554
2021-02-09 00:50:00+00:00  136.5600  136.560  136.5200  136.55    4268
2021-02-09 00:51:00+00:00  136.5600  136.560  136.5600  136.56     237
2021-02-09 00:52:00+00:00  136.5500  136.550  136.5300  136.53    1648
2021-02-09 00:53:00+00:00  136.5300  136.580  136.5299  136.58    8188
2021-02-09 00:54:00+00:00  136.5800  136.580  136.5600  136.58    4982
2021-02-09 00:55:00+00:00  136.5800  136.600  136.5700  136.60    3008
2021-02-09 00:56:00+00:00  136.6000  136.620  136.6000  136.60    2871
2021-02-09 00:57:00+00:00  136.6001  136.610  136.6000  136.61    2539
2021-02-09 00:58:00+00:00  136.6000  136.610  136.5700  136.61    2419
2021-02-09 00:59:00+00:00  136.5900  136.621  136.5900  136.60    5017

**stream data**

In [22]:
async def trade_callback(t):
    print('trade', t)


async def quote_callback(q):
    print('quote', q)


# Initiate Class Instance
stream = Stream(key_id=config['alpaca_key_id'],
                secret_key=config['alpaca_secret_key'],
                base_url=URL(config['alpaca_base_url']),
                data_feed='iex')  # <- replace to SIP if you have PRO subscription

# subscribing to event
stream.subscribe_trades(trade_callback, 'AAPL')
stream.subscribe_quotes(quote_callback, 'IBM')

stream.run()

RuntimeError: This event loop is already running

In [24]:
stream.

### Buy something

**submit_order**

In [ ]:
test = api.submit_order(symbol="ATVI",
                        qty=1,
                        side="buy",
                        type="market",
                        time_in_force="day")

In [ ]:
test

### Sell something

In [ ]:
test = api.submit_order(symbol="ATVI",
                        qty=1,
                        side="sell",
                        type="market",
                        time_in_force="day")

In [ ]:
test = api.list_orders(status="open")

In [ ]:
len(test)

In [ ]:
test = api.list_positions()

In [ ]:
len(test)

In [ ]:
api.list_assets()

***

## Development

Functions that will transfer to code